<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Actualizar Maquina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="actualizarMaquinaForm" (ngSubmit)="actualizarForm()">
    <ion-card>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input
          ngModel="{{this.maq_nombre}}"
          type="text"
          formControlName="maq_nombre"
          value="this.maq_nombre"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Comentario:</ion-label>
        <ion-input
          type="text"
          formControlName="maq_comentario"
          value="{{this.maq_comentario}}"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Tipo:</ion-label>
        <ion-input
          type="text"
          formControlName="maq_tipo"
          value="{{this.maq_tipo}}"
        ></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit">Actualizar</ion-button>
    </ion-card>
  </form>
</ion-content>
