<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col class="icol" size="10">
      <img class="logoregistro" src="./assets/icon/logo-teoapp-light.png" />
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
  <!-- <ion-card> -->
    <ion-grid>
      <ion-row>
        <ion-col class="icol">
          <ion-item>
            <ion-label color="primary" position="stacked"
              >Correo electronico</ion-label
            >
          <ion-input formControlName="usu_email" type="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="icol">
          <ion-item>
            <ion-label color="primary" position="stacked">Contraseña</ion-label>
          <ion-input formControlName="usu_pass" type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            (keyup.enter)="onEnter($event)"
            class="btnprincipal"
            [routerLink]="['/tabs/principal']"
            (click)="login()"
            expand="block"
            >INICIAR SESIÓN</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="icol">
          <ion-label color="primary" [routerLink]="['/recuperar']"
            >¿Olvidaste tu contraseña?</ion-label
          ></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col class="icol">
          <ion-label position="stacked">o</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="icol">
          <ion-button
            class="btnprincipal"
            expand="block"
            [routerLink]="['/registro']"
            >REGISTRATE</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- </ion-card> -->
</form>

</ion-content>