<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="historial">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="principal">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nosotros">
      <ion-icon name="information-outline"></ion-icon>
      <ion-label>Nosotros</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
