<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col class="icol" size="10">
        <img class="logoregistro" src="./assets/icon/logo-teoapp-light.png" />
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        dapibus congue lectus eget fermentum. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Cras aliquet est vel arcu commodo, vel
        fringilla nibh placerat. Morbi ultrices vitae magna sed facilisis.
        Mauris auctor est at mollis elementum. Nunc vitae mollis elit, sit amet
        gravida neque. Sed facilisis scelerisque purus nec pretium. Maecenas
        luctus faucibus dignissim. Cras orci mauris, ornare a quam in, fermentum
        dignissim metus. In ut ornare lorem. Mauris sit amet mauris ex.
        Suspendisse augue tortor, vestibulum eu ex ac, condimentum efficitur
        purus. Aenean eget eros molestie, tempor turpis eu, dignissim ipsum.
        Donec ullamcorper risus eu ante feugiat dignissim.
      </p>
    </ion-card-content>  
</ion-card>
</ion-content>
