<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Términos y Condiciones</ion-title>
    <ion-icon
      [routerLink]="['/login']"
      color="primary"
      slot="start"
      name="play-skip-back"
      class="backbutton"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>Cantaré</ion-card-title>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        dapibus congue lectus eget fermentum. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Cras aliquet est vel arcu commodo, vel
        fringilla nibh placerat. Morbi ultrices vitae magna sed facilisis.
        Mauris auctor est at mollis elementum. Nunc vitae mollis elit, sit amet
        gravida neque. Sed facilisis scelerisque purus nec pretium. Maecenas
        luctus faucibus dignissim. Cras orci mauris, ornare a quam in, fermentum
        dignissim metus. In ut ornare lorem. Mauris sit amet mauris ex.
        Suspendisse augue tortor, vestibulum eu ex ac, condimentum efficitur
        purus. Aenean eget eros molestie, tempor turpis eu, dignissim ipsum.
        Donec ullamcorper risus eu ante feugiat dignissim.
      </p>
      <p>
        Integer sodales tempor ultricies. Suspendisse sollicitudin velit ut
        libero luctus, eu mattis urna sollicitudin. Sed eleifend quam et
        malesuada molestie. Ut dapibus lobortis magna in feugiat. Class aptent
        taciti sociosqu ad litora torquent per conubia nostra, per inceptos
        himenaeos. Vestibulum placerat nisl nec facilisis viverra. Phasellus
        lacinia mollis velit eu mattis.
      </p>
      <p>
        Etiam dapibus maximus venenatis. Fusce ornare rhoncus felis sed
        vehicula. Sed fermentum sit amet dolor sed varius. Duis ut massa
        pharetra, maximus eros a, varius leo. Sed auctor placerat sem id
        blandit. Maecenas imperdiet eu nunc sed commodo. Cras magna felis,
        convallis vitae cursus ornare, ultrices et eros. Vestibulum ac justo
        semper, maximus urna ut, bibendum libero. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Donec interdum felis vel odio volutpat
        aliquet. Donec sodales neque sit amet dui placerat, vitae hendrerit ante
        feugiat. Sed ut nunc eget ligula posuere elementum vel viverra turpis.
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas.
      </p>
      <p>
        Mauris malesuada quis risus vitae imperdiet. Sed ornare magna hendrerit
        urna dapibus porta. Phasellus dolor arcu, fermentum in turpis at,
        dapibus auctor magna. Morbi vestibulum justo vel nulla laoreet, sed
        aliquam mi ultrices. Donec finibus rutrum sem nec imperdiet. Etiam sit
        amet metus purus. Mauris imperdiet nunc metus, sed molestie nibh rutrum
        eget. Aenean sed lorem sit amet sem ultrices accumsan. Suspendisse quis
        nisl porta odio fringilla consectetur nec vel ligula. Fusce eu est
        neque. Aliquam eu magna nec ex efficitur varius. Orci varius natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Integer at bibendum enim, ac lobortis metus. Fusce finibus nibh felis,
        id porta augue convallis non.
      </p>
      <p>
        Vivamus hendrerit nibh aliquet eros dapibus, ac viverra sem fringilla.
        Praesent sit amet varius tellus. Praesent risus neque, faucibus eget
        libero nec, aliquet mattis enim. Fusce eleifend id nunc non aliquam.
        Quisque eleifend justo a cursus tincidunt. Sed sapien magna, interdum et
        lacinia quis, dignissim at enim. Nulla gravida, tellus ac blandit
        fermentum, ex nulla egestas odio, quis fermentum eros felis sed metus.
        Vivamus facilisis iaculis tortor, vel scelerisque purus congue quis. In
        urna sem, elementum et iaculis ut, aliquam vitae nunc. Donec id
        vulputate nisi, sit amet scelerisque orci.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
