<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar
    placeholder="Buscar"
    debounce="100"
    (ionChange)="buscar ($event) "
  ></ion-searchbar>

  <ion-list *ngFor="let usuario of users; let index = i">
    <ion-item-sliding #slidingItem>
      <ion-item class="item-label item ios in-list ion-focusable hydrated">
        <ion-avatar slot="start">
          <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" />
        </ion-avatar>

        <ion-item>
          <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
            <h2>{{usuario.usu_nombre}}</h2>
            <h3>{{usuario.usu_email}}</h3>
            <p>{{usuario.usu_documento}}</p>
          </ion-label>
        </ion-item>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option
          (click)="eliminarUsuario(usuario, index, slidingItem)"
          color="danger"
        >
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option
          [routerLink]="['/admin/usuarios/actualizar/' + this.usuario.usu_codigo]"
          color="primary"
        >
          <ion-icon name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-list>

  <!--para agregar nuevos usuarios-->

  <ion-fab
    [routerLink]="['/admin/usuarios/crear']"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button class="btnCrear">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
